@import '../abstracts/variables'

body
  font: 100% $playfair-family
  margin: 0
  padding: 0
  font-size: 16px
html
  scroll-behavior: smooth

.fg-red-pink
  color: $red-pink !important

.bg-red-pink
  background-color: $red-pink !important
  color: $white
.bg-transparent
  background-color: transparent !important
  color: $white
.bg-dark-grey
  background: $dark-grey !important
.fg-dark-grey
  color: $dark-grey !important
.fg-light-grey
  color: rgba(0, 0, 0, 0.3) !important
.ui.pointing.cursor
  cursor: pointer
.bg-white
  background-color:  white !important
.hidden
  display: none

.bold
  font-weight: bold
